.contact-page {
    overflow: hidden;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), 
        url('../assets/images/background-3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    height: 100vh;          /* Force full viewport height */
    width: 100%;            /* Full width */
    
    display: flex;
    flex-direction: column; 
    justify-content: center;  /* Center content vertically */
    align-items: center;      /* Center content horizontally */
    
    padding: 0;              /* Remove extra padding */
    margin: 0;               /* Remove body/html margin */
    box-sizing: border-box;  /* Include padding in height calculation */
    color: white;
}

.contact-content {
    flex-direction: column; 
    display: flex;
    align-items: center;
}

.contact-content h1 {
    font-size: 60px;
    color: #ffffff;

}

.contact-content h2 {
    font-size: 40px;
    color: #ffffff88;
}


