.contact-page {
    overflow: hidden;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), 
        url('../assets/images/background-3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    height: 100vh;         
    width: 100%;        
    
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;   
    
    padding: 0;             
    margin: 0;               
    box-sizing: border-box;  
    color: white;
}

.contact-content {
    flex-direction: column; 
    display: flex;
    align-items: center;
}

.contact-content h1 {
    font-size: 60px;
    color: #ffffff;

}

.contact-content h2 {
    font-size: 40px;
    color: #ffffff88;
}


