body, html {
    height: 100%;
    scroll-behavior: smooth; 
    overflow: auto; 
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

.scroll-container {
    scroll-snap-type: y mandatory; 
    overflow-y: visible; 
    height: 100vh; 
}

.Page {
    scroll-snap-align: start; 
    width: 100%;
    min-height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.scrolling-text {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    width: 100%; 
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    text-align: left; 
    padding: 20px;
}


.welcome-text {
    color: #4E5180; 
    font-size: 50px; 
}


.website-text {
    color: white; 
    font-size: 75px; 
}


.tabs-table {                                                                                                  
    position: fixed; 
    top: 10px; 
    left: 20px; 
    font-size: 18px; 
    margin-top: 0;
    z-index: 1000;
    background-color: #4E5180;
}

.tabs-table td {
    padding: 5px;
    width: 100px;
    text-align: center;
}

.tabs-table a {
    text-decoration: none; 
    color: white; 
}

.tabs-table a:hover {
    color: #000; 
}

