body, html {
    height: 100%;
    scroll-behavior: smooth; /* Enables smooth scrolling */
    overflow: auto; /* allow normal page scrolling */
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
}

.scroll-container {
    scroll-snap-type: y mandatory; /* Enables vertical snapping */
    overflow-y: visible; /* Adds vertical scrolling within the container */
    height: 100vh; /* Full viewport height */
}

.Page {
    scroll-snap-align: start; /* Snaps the section to the top of the viewport */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.scrolling-text {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full height of the viewport */
    width: 100%; /* Full width of the page */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    text-align: left; /* Left-align the text */
    padding: 20px;
}


.welcome-text {
    color: #4E5180; /* Set the color of "Hi there" to blue */
    font-size: 50px; /* Adjust the size of "Hi there" to be smaller */
}


.website-text {
    color: white; /* You can set the color of this part */
    font-size: 75px; /* Adjust the size of the "Welcome to Cathy's Website" text */
}

/* Positioning the links in the upper-left corner */
.tabs-table {                                                                                                  
    position: fixed; /* Position them absolutely relative to the body */
    top: 10px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    font-size: 18px; /* Adjust the font size of the links */
    padding: 15px;
    margin-top: 0;
    z-index: 1000;
    background-color: #4E5180;
}

.tabs-table td {
    padding: 5px;
    width: 100px;
    text-align: center;
}

.tabs-table a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* White color for links */
}

.tabs-table a:hover {
    color: #000; /* Change link color on hover */
}

