.resume-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background-image: 
            linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), 
            url('../assets/images/background-5.jpg'); */
    background-size: cover;
    background-position: center; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.resume-content h1 {
    font-size: 3rem;
    margin-bottom: 75px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

.vertical-line {
    position: absolute;
    top: 225px;
    bottom: 60px;
    left: 50%;
    width: 6px;
    background-color: grey;
    transform: translateX(-50%);
    z-index: 0; /* make sure timeline items appear on top */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9); /* subtle shadow */
    border-radius: 3px; /* optional, smooth edges */
}

.timeline-circle {
    position: absolute;
    left: 50%;                   
    transform: translateX(-50%);
    width: 50px;                 
    height: 50px;                
    border-radius: 50%;           
    background-color: #fdfdfd;    
    border: 2px solid #ffffff;    
    z-index: 2;          
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9); /* subtle shadow */
    border-radius: 3px; /* optional, smooth edges */        
}