.resume-page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.resume-content h1 {
    font-size: 50px;
    margin-bottom: 75px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

.vertical-line {
    position: absolute;
    top: 225px;
    bottom: 60px;
    left: 50%;
    width: 6px;
    background-color: grey;
    transform: translateX(-50%);
    z-index: 0; 
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9); 
    border-radius: 3px; 
}

.timeline-circle {
    position: absolute;
    left: 50%;                   
    transform: translateX(-50%);
    width: 70px;
    height: 70px;               
    border-radius: 50%;           
    background-color: #fdfdfd;    
    border: 2px solid #ffffff;    
    z-index: 2;          
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);       
}

.timeline-circle-logo {
    width: 70px;            
    height: 70px;
    object-fit: contain;     
    border-radius: 50%; 
}

.scroll-down3 {
    position: absolute;
    bottom: 10px;      
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scrollBounce 1.6s infinite;
}


.scroll-down3:hover {
    opacity: 1;
}
.scroll-down3 svg {
    width: 100%;
    height: 100%;
    display: block;
}
